/* Tailwind Config */
@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
  color-scheme: dark;

  --background: oklch(0.18 0 0);
  --foreground: oklch(0.95 0 0);
  --card: oklch(0.21 0 0);
  --card-foreground: oklch(0.95 0 0);
  --popover: oklch(0.21 0 0);
  --popover-foreground: oklch(0.95 0 0);
  --primary: oklch(0.51 0.196 275.23);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.33 0.02 92.98);
  --secondary-foreground: oklch(0.96 0.06 94.68);
  --muted: oklch(0.25 0 0);
  --muted-foreground: oklch(0.77 0 0);
  --accent: oklch(0.29 0 0);
  --accent-foreground: oklch(0.95 0 0);
  --destructive: oklch(0.63 0.19 33.34);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.24 0.01 91.75);
  --input: oklch(0.4 0 0);
  --ring: oklch(0.92 0.05 66.17);

  --chart-1: oklch(0.92 0.05 66.17);
  --chart-2: oklch(0.32 0.02 63.7);
  --chart-3: oklch(0.29 0 0);
  --chart-4: oklch(0.35 0.02 67);
  --chart-5: oklch(0.92 0.05 67.09);
  --sidebar: oklch(0.21 0.01 285.89);

  --sidebar-foreground: oklch(0.97 0 286.38);
  --sidebar-primary: oklch(0.49 0.22 264.38);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.27 0.01 286.03);
  --sidebar-accent-foreground: oklch(0.97 0 286.38);
  --sidebar-border: oklch(0.27 0.01 286.03);
  --sidebar-ring: oklch(0.87 0.01 286.29);

  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

  --osrs-yellow: oklch(0.97 0.18 100);
  --osrs-orange: oklch(0.77 0.23 55);
  --osrs-red: oklch(0.57 0.28 30);
  --osrs-green: oklch(0.73 0.24 145);
  --osrs-gray: oklch(0.53 0.01 85);
  --osrs-white: oklch(0.9 0 0);
  --osrs-tab: oklch(0.2 0 0);
  --osrs-tab-selected: oklch(0.25 0 0);
  --osrs-border: oklch(0.4 0 0);
  --osrs-dark-border: oklch(0.3 0 0);
  --osrs-diary-low: oklch(0.6 0.28 35);
  --osrs-diary-med: oklch(0.66 0.27 50);
  --osrs-diary-high: oklch(0.72 0.25 75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-osrs-yellow: var(--osrs-yellow);
  --color-osrs-orange: var(--osrs-orange);
  --color-osrs-red: var(--osrs-red);
  --color-osrs-green: var(--osrs-green);
  --color-osrs-gray: var(--osrs-gray);
  --color-osrs-white: var(--osrs-white);
  --color-osrs-tab: var(--osrs-tab);
  --color-osrs-tab-selected: var(--osrs-tab-selected);
  --color-osrs-border: var(--osrs-border);
  --color-osrs-dark-border: var(--osrs-dark-border);
  --color-osrs-diary-low: var(--osrs-diary-low);
  --color-osrs-diary-med: var(--osrs-diary-med);
  --color-osrs-diary-high: var(--osrs-diary-high);

  --drop-shadow-solid: 2px 2px 0 black;
  --drop-shadow-solid-sm: 1px 1px 0 black;

  --font-runescape: "RuneScape";
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}

/* Custom Styles */

@font-face {
  font-family: "ui-sans-serif";
  src: url("~/assets/fonts/inter.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "ui-sans-serif";
  src: url("~/assets/fonts/inter-italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "RuneScape";
  src: url("~/assets/fonts/runescape.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RuneScape";
  src: url("~/assets/fonts/runescape-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

.solid-text-shadow {
  text-shadow:
    1px 1px black,
    1.5px 1.5px black,
    2px 2px black;
}

.runescape-stats-tile {
  background-image: url("~/assets/skill-tile.png");
  background-repeat: no-repeat;
  background-size: cover;

  /* Aspect Ratio of the real image */
  aspect-ratio: 2;

  width: 77px;
}

.runescape-panel {
  background-image: url("~/assets/card/background.png");
  background-size: cover;
  background-clip: padding-box;

  border: solid transparent;
  border-image-slice: 10 10 10 10;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: repeat;
  border-image-source: url("~/assets/card/square.png");
}

.runescape-corners-border {
  border-style: solid;
  border-width: 12px 12px 12px 12px;
  -moz-border-image: url("~/assets/osrs-border-corners.png") 9 9 9 9 round round;
  -webkit-border-image: url("~/assets/osrs-border-corners.png") 9 9 9 9 round
    round;
  -o-border-image: url("~/assets/osrs-border-corners.png") 9 9 9 9 round round;
  border-image: url("~/assets/osrs-border-corners.png") 9 9 9 9 round round;
}

.runescape-scroll-track {
  background-image: url("~/assets/scrollbar/track.png");
  background-size: contain;
  height: 22px;
  width: 22px;
}

.runescape-scroll-thumb {
  width: 22px;
  border-style: solid;
  border-image-source: url("~/assets/scrollbar/thumb.png");
  border-image-slice: 7;
  border-image-width: 16px;
  border-image-repeat: stretch;
}

.runescape-scroll-up {
  background-image: url("~/assets/scrollbar/arrow_up.png");
  background-size: contain;
  height: 22px;
  width: 22px;
}

.runescape-scroll-down {
  background-image: url("~/assets/scrollbar/arrow_down.png");
  background-size: contain;
  height: 22px;
  width: 22px;
}

/* Hide default scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide default scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.skill-200m-text {
  z-index: 1;
  position: relative;
  background: linear-gradient(
    120deg,
    #ffffff,
    #e0c3fc,
    #8ec5fc,
    #f9f9f9,
    #ffdde1
  );
  background-size: 300% 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s infinite linear;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);

  filter: drop-shadow(1.5px 1.5px 0 black) /* solid black shadow */
    drop-shadow(0 0 8px rgba(142, 197, 252, 0.4)) /* blue glow */
    drop-shadow(0 0 16px rgba(142, 197, 252, 0.2)); /* bigger soft glow */
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
