@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    @apply bg-background-dark;
  }

  .text-shadow {
    text-shadow: 1px 1px black, 1.5px 1.5px black, 2px 2px black;
  }
  .text-shadow-none {
    text-shadow: none;
  }
}

@layer components {
  .hero-image {
    @apply bg-primary/100 w-full h-[500px] bg-blend-multiply;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/hero/hero-background-color.png");
  }
}

@font-face {
  font-family: runescape;
  src: url("/assets/fonts/runescape.woff2");
}

@font-face {
  font-family: runescape;
  font-weight: bold;
  src: url("/assets/fonts/runescape-bold.woff2");
}

.runescape-stats-tile {
  background-image: url("/assets/stats/tile.png");
  background-repeat: no-repeat;
  background-size: cover;

  /* Aspect Ratio of the real image */
  aspect-ratio: 1.96774193548;

  width: 80px;
}

.runescape-combat-achievement-tier {
  border-style: solid;
  border-width: 12px 12px 12px 12px;
  -moz-border-image: url("/assets/combat-achievement-icons/border.png") 9 9 9 9
    round round;
  -webkit-border-image: url("/assets/combat-achievement-icons/border.png") 9 9 9
    9 round round;
  -o-border-image: url("/assets/combat-achievement-icons/border.png") 9 9 9 9
    round round;
  border-image: url("/assets/combat-achievement-icons/border.png") 9 9 9 9 round
    round;
}

.runescape-panel {
  background-image: url("/assets/card/background.png");
  background-size: cover;
  background-clip: padding-box;

  border: solid transparent;
  border-image-slice: 10 10 10 10;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: repeat;
  border-image-source: url("/assets/card/square.png");
}

::-webkit-scrollbar {
  width: 22px;
}

::-webkit-scrollbar-button {
  display: block;
  background-size: cover;
}

/* This seems so upside down idk why this is how it works, but it does */
::-webkit-scrollbar-button:vertical:start:increment {
  display: none;
}

::-webkit-scrollbar-button:vertical:start:decrement {
  background-image: url("/assets/scrollbar/arrow_up.png");
  height: 22px;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background-image: url("/assets/scrollbar/arrow_down.png");
  height: 22px;
}

::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}

/* Using border-image to stretch the middle part of the thumb */
::-webkit-scrollbar-thumb {
  width: 10px;

  border-style: solid;
  border-image-source: url("/assets/scrollbar/thumb.png");
  border-image-slice: 7;
  border-image-width: 16px;
  border-image-repeat: stretch;
  height: 40%;
}

/* To mimic the full scrollbar thumb, when the content isn't scrollable, from the game UI. */
::-webkit-scrollbar-track:disabled {
  width: 10px;

  border-style: solid;
  border-image-source: url("/assets/scrollbar/thumb.png");
  border-image-slice: 7;
  border-image-width: 16px;
  border-image-repeat: stretch;
  height: 100%;
}

::-webkit-scrollbar-track {
  background-image: url("/assets/scrollbar/track.png");
  background-size: contain;
}
