@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 235 46% 53%;
    --primary-foreground: 210 20% 98%;

    --secondary: 40, 64%, 73%;
    --secondary-foreground: 40, 35%, 40%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }
}

:root {
  color-scheme: dark;
}

.runescape-stats-tile {
  background-image: url("/assets/stats/tile.png");
  background-repeat: no-repeat;
  background-size: cover;

  /* Aspect Ratio of the real image */
  aspect-ratio: 2;

  width: 77px;
}

.runescape-corners-border {
  border-style: solid;
  border-width: 12px 12px 12px 12px;
  -moz-border-image: url("/assets/combat-achievement-icons/border.png") 9 9 9 9
    round round;
  -webkit-border-image: url("/assets/combat-achievement-icons/border.png") 9 9 9
    9 round round;
  -o-border-image: url("/assets/combat-achievement-icons/border.png") 9 9 9 9
    round round;
  border-image: url("/assets/combat-achievement-icons/border.png") 9 9 9 9 round
    round;
}

.runescape-corners-border-small {
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  -moz-border-image: url("/assets/combat-achievement-icons/border.png") 9 9 9 9
    round round;
  -webkit-border-image: url("/assets/combat-achievement-icons/border.png") 9 9 9
    9 round round;
  -o-border-image: url("/assets/combat-achievement-icons/border.png") 9 9 9 9
    round round;
  border-image: url("/assets/combat-achievement-icons/border.png") 9 9 9 9 round
    round;
}

.runescape-panel {
  background-image: url("/assets/card/background.png");
  background-size: cover;
  background-clip: padding-box;

  border: solid transparent;
  border-image-slice: 10 10 10 10;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: repeat;
  border-image-source: url("/assets/card/square.png");
}

.osrs-scrollbar {
  ::-webkit-scrollbar {
    width: 22px;
  }

  ::-webkit-scrollbar-button {
    display: block;
    background-size: cover;
  }

  /* This seems so upside down idk why this is how it works, but it does */
  ::-webkit-scrollbar-button:vertical:start:increment {
    display: none;
  }

  ::-webkit-scrollbar-button:vertical:start:decrement {
    background-image: url("/assets/scrollbar/arrow_up.png");
    height: 22px;
  }

  ::-webkit-scrollbar-button:vertical:end:increment {
    background-image: url("/assets/scrollbar/arrow_down.png");
    height: 22px;
  }

  ::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
  }

  /* Using border-image to stretch the middle part of the thumb */
  ::-webkit-scrollbar-thumb {
    width: 10px;

    border-style: solid;
    border-image-source: url("/assets/scrollbar/thumb.png");
    border-image-slice: 7;
    border-image-width: 16px;
    border-image-repeat: stretch;
    height: 40%;
  }

  /* To mimic the full scrollbar thumb, when the content isn't scrollable, from the game UI. */
  ::-webkit-scrollbar-track:disabled {
    width: 10px;

    border-style: solid;
    border-image-source: url("/assets/scrollbar/thumb.png");
    border-image-slice: 7;
    border-image-width: 16px;
    border-image-repeat: stretch;
    height: 100%;
  }

  ::-webkit-scrollbar-track {
    background-image: url("/assets/scrollbar/track.png");
    background-size: contain;
  }
}
